{
    "user": [
			{
				"user_id": 1,
				"idname":  "testuser",
				"token":   "SomethingWeirdWhoKnows",
				"name":    "Test Inc.",
				"email":   "noreply@example.com"
			}
	],
    "domain": [
			{
				"domain_id": 1,
				"user_id":   1,
				"domain":    "mail.example.com",
				"sender":    "Some User <noreply@example.com>"
			}
    ]
}
